.vs/
LlamaBot/bin/
LlamaBot/obj/
LlamaNative.Chat/obj/
LlamaNative/bin/
LlamaNative/obj/
LlamaNative.Chat/bin/
LlamaNative.Utils/obj/
LlamaNative.Utils/bin/
LlamaBot/Characters/
LlamaNative/Binaries/CUDA/llama.dll
LlamaNative/Binaries/CUDA/llama.ilk
LlamaNative/Binaries/CUDA/llama.pdb
LlamaNative/Binaries/CUDA/ggml.dll
LlamaNative/Binaries/CUDA/ggml.ilk
LlamaNative/Binaries/CUDA/ggml.pdb
