.vs/
LlamaBot/bin/
LlamaBot/obj/
LlamaNative.Chat/obj/
LlamaNative/bin/
LlamaNative/obj/
LlamaNative.Chat/bin/
LlamaNative.Utils/obj/
LlamaNative.Utils/bin/
LlamaBot/Characters/
LlamaNative/Binaries/CUDA/llama.dll
LlamaNative/Binaries/CUDA/llama.ilk
LlamaNative/Binaries/CUDA/llama.pdb
LlamaNative/Binaries/CUDA/ggml.dll
LlamaNative/Binaries/CUDA/ggml.ilk
LlamaNative/Binaries/CUDA/ggml.pdb
LlamaNative/Binaries/CUDA/libggml.so
LlamaNative/Binaries/CUDA/libllama.so
LlamaBot.Plugins/obj/
LlamaBot.Shared/obj/
LlamaBot.Plugins/bin/
LlamaBot.Shared/bin/
/LlamaNative/Binaries/Cpu/libggml.so
/LlamaNative/Binaries/Cpu/libllama.so
LlamaBot/LlamaBot.Configuration.json
