.vs/
LlamaBot/bin/
LlamaBot/obj/
LlamaNative.Chat/obj/
LlamaNative/bin/
LlamaNative/obj/
LlamaNative.Chat/bin/
LlamaNative.Utils/obj/
LlamaNative.Utils/bin/
LlamaBot/Characters/
LlamaBot.Plugins/obj/
LlamaBot.Shared/obj/
LlamaBot.Plugins/bin/
LlamaBot.Shared/bin/
LlamaBot/LlamaBot.Configuration.json
*.pdb
*.ilk
LlamaBotAutomated/Characters/
LlamaBotAutomated/obj/
LlamaBotAutomated/bin/
LlamaBotAutomated/LlamaBotAutomated.Configuration.json
